.navbar-logo img{
  width: 25%;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
  transition: 0.4s;
}

.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.mobile-navbar-fields {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #333;
  flex-direction: column;
}

/* X icon styles */
.x-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  background-color: white;
}

.xbar {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
}

.bar1 {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.bar2 {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/* Close icon hover effect (optional) */
.x-icon:hover .bar {
  background-color: #ff0000; /* Change the color on hover */
}